body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
}

#lista-de-sapatos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.item-sapato {
  border: 1px solid #ccc;
  padding: 1rem;
  width: calc(33% - 4rem);
  text-align: center;
}

.item-sapato img {
  max-width: 100%;
  height: auto;
}

#detalhes-do-sapato {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#detalhes-do-sapato img {
  max-width: 100%;
  height: auto;
}

#carrinho li {
  margin-bottom: 8px;
  max-width: 850px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 16px;
}

#carrinho li button {
  padding: 8px 12px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn-remover {
  background-color: #c9040466;
}

.btn-adicionar {
  background-color: #02940266;
}

.btn-remover:hover,
.btn-adicionar:hover {
  opacity: 0.8;
}

#total {
  text-align: end;
  font-size: 2rem;
}
